.parts-main-container {
  min-height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.parts-main-container h1 {
  align-self: center;
}

.parts-item-container img {
  background-color: yellow;
}

.parts-img {
  max-height: 150px;
}

#title {
  margin-left: 25px;
  color: white;
}

#box {
  margin: 5px 50px;
}

#page_title {
  color: whitesmoke;
}

#top {
  background-color: #282d32;
  border-radius: 15px;
}

#car {
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

#model {
  font-size: large;
  font-weight: 600;
}

#price {
  float: right;
  font-weight: 700;
  font-size: 200%;
}

#condition {
  font-size: larger;
}

#car-photo {
  max-width: 100%;
}

/*  */

.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

.card-product .price-new,
.card-product .price {
  margin-right: 5px;
}

.card-product .price-old {
  color: #999;
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px;
}

.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .title {
  margin-top: 0;
}

.car-cont {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin: 15px 15px;
}

#main2 {
  margin: 15px auto;
  align-content: center;
}

#body_list_cars {
  background-image: url(../images/repair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.photos {
  max-width: 300px;
}

h3.switch {
  color: #fcc500;
}

/* 5/9 */

.productbox {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.productprice {
  border-top: 1px solid #dadada;
  padding-top: 5px;
}

.pricetext {
  font-weight: bold;
  font-size: 1.4em;
}

.emptyCars {
  height: 75vh;
}

.emptyCars-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

/* SEARCH SWITCHER */

.switch input {
  display: none;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 8px;
  transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: .4s;
}

input:checked+.slider:before {
  transform: translateX(30px);
  background: red;
}

input:checked+.slider {
  box-shadow: 0 0 0 2px red, 0 0 2px blue;
}

#searchBox {
  display: flex;
}

#searchInput {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-top: 5px;
}

.searchBoxButtons {
  margin-top: 19px;
}

@media (max-width: 991px) {
  #car-photo {
    max-width: 100%;
  }

  #top {
    padding-top: 2px;
    /* margin-top: -8px; */
    height: 38px;
  }

  #title {
    font-size: larger;
    margin-top: 10px;
  }

  #box {
    margin: 0px 0px;
  }

  .photos {
    max-width: 100%;
  }
}