/* .contact-main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-form {
  width: 100%;
}

.contact-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-input {
  width: 90%;
  border: 1px solid #ced4da;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.contact-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
} */


/*Contact sectiom*/
.content-header{
  /* font-family: 'Oleo Script', cursive; */
  color:#fcc500;
  /* font-size: 45px; */
}

.section-content{
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
#_contact{
    
    /* font-family: 'Teko', sans-serif; */
  padding-top: 60px;
  /* margin-bottom: 50px; */
  width: 100%;
  width: 100vw;
  min-height: 600px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
    margin-bottom: -15px;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  /* width: 50%; */
}

.form-line{
  /* border-right: 1px solid #B29999; */
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

.popup-container {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
}

.popup-element {
  width: 100px; 
}
