#navbar-toggle-cbox {
    display:none
  }
  #navbar-toggle-cbox:checked ~ .collapse {
      display: block;
  }
  .listLink:hover{
      color: aliceblue;
  }
  .links p{
     color:#97a4acab;
  }
  .links p:hover{
      color: wheat;
  }
  #nav{
    background-color:#282d32;
    border: 1px solid #282d32;
  }
 