.map-clean {
  /*background-color:rgba(255,255,255,0.3);*/
  /*background:url(seattle2.jpg) no-repeat;*/
  /*background-size:cover;*/
}

.footer-dark {
  text-align:center;
}

.projects-clean {
  background-image:url(../images/repair.jpg);
  background-size:cover;
  background-attachment: fixed;
}

.projects-clean {
}
.img-fluid {
  max-width:100%;
  height:auto;
}

img {
  vertical-align:middle;
  border-style:none;
}


@media (min-width: 300px) {
  .intro {
    padding:39px;
  }
}

.intro {
  background-color:rgba(255,255,255,0.8);
  border-radius:50px;
  margin-top:40px;
}

.map-clean {
  padding-top:40px;
}

.row.projects {
  background-color:rgba(255,255,255,0.8);
  border-radius:30px;
  margin:0px 0px;
  margin-top:40px;
  /*margin-bottom:40px;*/
}

