.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.top-main-container {
  height: 100vh;
  background-image: url("./components/images/repair.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top-intro {
  background-color: rgba(255,255,255,0.8);
  width: 90%;
  height: 40%;
  padding: 30px;
  box-sizing: border-box;
  margin: 10px auto;
}

.top-menu {
  width: 90%;
}

.top-menu-option {
  background-color: rgba(255,255,255,0.8);
  margin: 35px 0;
  padding: 20px;
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: black;
}

.round-border {
  border-radius: 5px;
}

@media (min-width: 414px) {
  .top-intro {
    
  }
}
